/*
  Accessible skip to content link. Technique courtesy of:
  https://www.makethingsaccessible.com/guides/creating-a-skip-to-content-link/
*/
.skip-link {
  position: fixed;
  bottom:0;
  right: 0;
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: .75rem;
  line-height: 1;
  font-size: 1.25rem;
  background-color: var(--accessible-deep-pink);
  color: white;
  /* Ensure the Y position is set to zero and any movement on the transform property. */
  transform: translateY(0);
  transition: transform 250ms ease-in;
}

/* When it is not focused, transform its Y position by its total height, using a positive value, so it hides below the viewport. */
.skip-link:not(:focus) {
  transform: translateY(2.75rem);
}
