:root {
  --accessible-deep-pink: #e5007c;
  /*
    This links colour provides 3.19:1 contrast with surrounding
    text (--main-text) and meets WCAG 1.4.1.
    See: https://www.w3.org/WAI/WCAG21/Techniques/general/G183.html
  */
}

@media (prefers-color-scheme: light) {
  :root {
    --text-main: #1f1f1f;
    --links: #0071C7;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-main: #ffffff;
    --links: #0f97ff;
  }
}

@media (prefers-color-scheme: light) {
  a > code, tr:nth-child(even) a {
    /*
      Slightly darken links in code blocks due compensate for darker code background
      so we still meet WCAG AA (4.5:1) constrast ratio.
    */
    color: #006EC2;
  }
}

h1 { line-height: 1 }

a:hover {
  text-decoration: none;
  border-bottom-style: solid;
}

@media (prefers-color-scheme: light) {
  footer a {
    --links: #002E52;
  }
}

@media (prefers-color-scheme: dark) {
  footer a {
    border-bottom: 1px dotted var(--links);
  }
}

nav a:hover {
  border-bottom-color: var(--links);
  border-bottom-style: solid;
  border-bottom-width: 3px;
}

figure > img {
  outline: 4px solid var(--background);
  outline-offset: -4px;
}

blockquote {
  padding: 0 1em;
}

.subtitle {
  font-size: larger;
  font-weight: 600;
}

.error {
  background-color: var(--background-alt);
  padding: 1em;
  border-radius: 0.5em;
}

.prereleaseMessage {
  background-color: var(--accessible-deep-pink);
  color: white;
  padding: 0.5em;
  border-radius: 0.25em;
  font-weight: bold;
}

#logo {
  display: block;
  margin: -1em auto -2.25em auto;
  width: 14em;
}

.installationInstructions {
  border: 2px solid lightblue;
  border-top: 0;
  padding: 0.5em 1em;
  border-radius: 0 0 6px 6px;
}

.installationInstructions small {
  font-size: 1em;
  font-style: italic;
}

#platform-tabs {
  text-align: left;
  border-bottom: 2px solid lightblue;
  padding-left: 0;
  margin-bottom: 0;
}

#platform-tabs li {
  display: inline-block;
  margin-left: 0.25em;
}

#platform-tabs li:first-of-type {
  margin-left: 0;
}

#platform-tabs li button[aria-current='true'] {
  background-color: lightblue;
}

#platform-tabs li button {
  font-family: inherit;
  font-size: 1em;
  border: none;
  background-color: transparent;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 0;
  color: #304349;
  border-radius: 0.25em 0.25em 0 0;
}

@media screen and (max-width: 592px) {
  nav {
    font-size: 1em;
  }
}

@media screen and (max-width: 489px) {
  nav > ul {
    column-gap: 0.5em
  }
}

@media screen and (max-width: 441px) {
  nav > ul {
    display: block;
    line-height: 1.75;
  }
  nav li.selected {
    border-bottom: inherit;
    background-color: var(--background);
  }
}


@media (prefers-color-scheme: dark) {
  .installationInstructions img {
    /*
      Do a quick and dirty invert for images in the installation
      instructions as the light mode ones are very bright. Later
      I might actually have dark mode screenshots for that.
    */
    filter: invert(100%) hue-rotate(180deg);
  }

  #platform-tabs, .installationInstructions {
    border-color: var(--border);
  }

  /* Tweak tab buttons so unselected tabs are still legible. */
  #platform-tabs li button {
    color: var(--text-bright);
  }

  #platform-tabs li button:not([aria-current="true"]) {
    color: var(--text-main);
  }

  #platform-tabs li button[aria-current='true'] {
    background-color: var(--border);
  }

  #logo {
    /*
      Add glow around kitten so whiskers are not lost in the dark.
      Oh, look, it’s a kitten moon :)
    */
    filter: drop-shadow(-2px 2px 20px #fff);
  }
}
