nav {
  background-color: var(--background-alt);
  font-size: 1.25em;
  /* Overflow horizontal padding to keep text flush. */
  padding-left: 0.25em;
  padding-right: 0.25em;
  margin-left: -0.25em;
  margin-right: -0.25em;
}

nav ul {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  padding-left: 0;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

nav li {
  list-style-type: none;
}

nav li.selected {
  border-bottom: 3px solid var(--selection);
}
