/* Styles for the reference section. */

figcaption {
  text-align: center;
  font-style: italic;
  margin-top: -1em;
  margin-bottom: 2.5em;
  opacity: 0.7;
}

nav.table-of-contents {
  @media(max-width: 650px) {
    float: none;
    max-width: unset;
    margin-right: unset;
  }
  
  max-width: 300px;
  float: left;
  font-size: 1.25rem;
  margin-right: 1.5em;
  margin-bottom: 1em;
  font-weight: 600;

  > ol {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0.5em;

    > li:first-of-type {
      display: none;
    }
  }

  li > ol {
    margin-top: 0.5em;
    padding-left: 1em;
  }

  li > ol > li {
    list-style-type: '– ';
  }

  > ol > li > ol > li {
    font-size: 1rem;
    font-weight: normal;
  }

  li {
    margin-bottom: 0.5em;
  }
}

.flowchart {
  @media (prefers-color-scheme: dark) {
    filter: invert(1);
  }
}
